/* Aplicando reset no CSS e aplicando fonte padrão */
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* globals */

* {
  --fontFamily: 'Inter', sans-serif;

  --color1: #000000;
  --color2: #353535;
  --color3: #151F35;
  --color4: #248DE9;
  --color5: #0C78D7, #439DEC, #0C78D7;
  --color6: #FFFFFF;
  --color7: #F6F6F6;
  --color8: #BBBBBB;
  --color9: #DEDEDE;
  --color10: #ffffff, #eeeeee, #ffffff;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--fontFamily);
}

.container {
  max-width: 77rem;
  margin: auto;
}

.cardLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 79px;
  background-color: rgba(186, 186, 186, 0.35);
  border-radius: 50%;
}

.cardsContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.whiteGradient {
  background: linear-gradient(180deg, #FFFFFF 0%, #EEEEEE 53.65%, #FFFFFF 100%);
}

.blueGradient {
  background: linear-gradient(180deg, #0C78D7 0%, #439DEC 53.65%, #0C78D7 100%, #0C78D7 100%);
  color: white;
}

.card {
  width: 272px;
  height: 304px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
}

.icon{
  color: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
}

.button {
  width: 219px;
  height: 46px;
  background-color: var(--color4);
  border-radius: 8px;
  border: none;
  color: var(--color6);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
}

/* main */

main h2 {
  font-size: 42px;
  line-height: 63px;
}

main section:nth-child(odd) {
  background-color: var(--color7);
}

/* class datas */

section#datas {
  display: flex;
  justify-content: center;
  gap: 142px;
  padding: 20px 0px;
}

section#datas article {
  text-align: center;
  padding: 30px 0px;
  flex-shrink: 0;
}

section#datas article h2 {
  font-weight: 700;
  margin: -5px 0px;
}

section#datas article p {
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 5px;
}

/* id info */

section#info div.container  {
  display: flex;
  justify-content: space-between;
  padding: 100px 100px 80px 100px;
}

section#info article {
  max-width: 495px;
}

section#info article h2 {
  margin-top: -20px;
}

section#info article p {
  margin-bottom: 40px;
}

/* id about */

section#about div.container {
  max-width: 910px;
  padding: 50px 100px;
}

section#about h2 {
  text-align: center;
  letter-spacing: 10px;
  margin: 0px;
}

/* user form */

section#userForm div {
  text-align: center;
}

section#userForm div h2 {
  font-size: 32px;
  margin-bottom: 0;
}

section#userForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 557px;
  height: 347px;
  margin: auto;
  margin-top: 60px;
  background-color: var(--color7);
  border-radius: 8px;
}

section#userForm input {
  width: 409px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--color8);
  margin-bottom: 26px;
}

section#userForm form input:last-child {
  margin-bottom: 0;
}

section#userForm input[type="submit"] {
  width: 430px;
  border: none
}