/* Aplicando reset no CSS e aplicando fonte padrão */
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* globals */

* {
  --fontFamily: 'Inter', sans-serif;

  --color1: #000000;
  --color2: #353535;
  --color3: #151F35;
  --color4: #248DE9;
  --color5: #0C78D7, #439DEC, #0C78D7;
  --color6: #FFFFFF;
  --color7: #F6F6F6;
  --color8: #BBBBBB;
  --color9: #DEDEDE;
  --color10: #ffffff, #eeeeee, #ffffff;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--fontFamily);
}

.container {
  max-width: 77rem;
  margin: auto;
}

.cardLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 79px;
  background-color: rgba(186, 186, 186, 0.35);
  border-radius: 50%;
}

.cardsContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.whiteGradient {
  background: linear-gradient(180deg, #FFFFFF 0%, #EEEEEE 53.65%, #FFFFFF 100%);
}

.blueGradient {
  background: linear-gradient(180deg, #0C78D7 0%, #439DEC 53.65%, #0C78D7 100%, #0C78D7 100%);
  color: white;
}

.card {
  width: 272px;
  height: 304px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
}

.icon{
  color: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
}

.button {
  width: 219px;
  height: 46px;
  background-color: var(--color4);
  border-radius: 8px;
  border: none;
  color: var(--color6);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
}

/* main */

main h2 {
  font-size: 42px;
  line-height: 63px;
}

main section:nth-child(odd) {
  background-color: var(--color7);
}

/* class datas */

section#datas {
  display: flex;
  justify-content: center;
  gap: 142px;
  padding: 20px 90px;
}

section#datas article {
  text-align: center;
  padding: 30px 0px;
}

section#datas article h2 {
  font-weight: 700;
  margin: -5px 0px;
}

section#datas article p {
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 5px;
}

/* id info */

section#info div.container  {
  display: flex;
  justify-content: space-between;
  padding: 100px 100px 80px 100px;
}

section#info article {
  max-width: 495px;
}

section#info article h2 {
  margin-top: -20px;
}

section#info article p {
  margin-bottom: 40px;
}

/* id about */

section#about div.container {
  max-width: 910px;
  padding: 50px 100px;
}

section#about h2 {
  text-align: center;
  letter-spacing: 10px;
  margin: 0px;
}

/* user form */

section#userForm div {
  text-align: center;
}

section#userForm div h2 {
  font-size: 32px;
  margin-bottom: 0;
}

section#userForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 557px;
  height: 347px;
  margin: auto;
  margin-top: 60px;
  background-color: var(--color7);
  border-radius: 8px;
}

section#userForm input {
  width: 409px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--color8);
  margin-bottom: 26px;
}

section#userForm form input:last-child {
  margin-bottom: 0;
}

section#userForm input[type="submit"] {
  width: 430px;
  border: none
}

@media (max-width: 1268px) { /* desktop layout */
  /* main */
  main h2 {
    font-size: 28px;
    line-height: 43px;
  }

  /* id info */
  section#info article {
    max-width: 350px;
  }
}

@media (max-width: 1123px) { /* desktop layout */

  section#info article {
    margin-top: 65px
  }

  .cardsContainer {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-right: 40px;
    align-items: center;
  }

  .card {
    display: grid;
    width: 380px;
    height: 200px;
    gap: 0px 25px;
  }

  .cardLogo {
    width: 59px;
    height: 59px;
    margin: auto;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  div.cardsContainer > div.card > h3 {
    margin-bottom: 0;
    grid-column-start: 2;
  }

  div.cardsContainer > div.card > p {
    grid-area: 2;
  }

  section#info div.container {
    padding: 100px 50px 80px 50px;
  }
}

@media (max-width: 800px) {
  section#info div.container {
    flex-direction: column;
    align-items: center;
  }

  section#info article{
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
  }

  .cardsContainer {
    flex-direction: row;
    max-width: 500px;
    margin-right: 0px;
  }

  .card {
    display: block;
    width: 272px;
    height: 280px;
    gap: 0px;
  }

  .cardLogo {
    width: 59px;
    height: 59px;
    margin: 0;
  }
}

@media (max-width: 885px) { /* tablets layout */

  /* id datas */

  section#datas {
    padding: 20px 30px;
    gap: 0;
    justify-content: space-between;
  }

  /* id info */

  .cardsContainer {
    margin-right: 0;
  }

  .card {
    width: 335px;
  }

  div.cardsContainer > div.card > h3 {
    font-size: 17px;
  }

  div.cardsContainer > div.card > p {
    font-size: 15px;
  }
}

@media (max-width: 650px) { /* mobile layout */
  
  /* id datas */

  section#datas {
    flex-direction: column;
  }

  /* id info */

  .cardsContainer {
    flex-direction: column;
    align-items: center;
  }

  .card {
    max-width: 272px;
  }

  /* id userForm */

  section#userForm div h2 {
    font-size: 21px;
    padding: 0px 15px;
  }

  section#userForm div.container p {
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }

  section#userForm div h2 {
    font-size: 27px;
  }

  section#userForm form {
    width: 87vw;
  }

  section#userForm input, section#userForm input[type="submit"] {
    width: 70%;
  }

  /* id about */

  section#about div.container {
    padding: 50px 30px;
  }
}